BODY
{

	font-family: Verdana, Sans-Serif;
	font-size: 13px;
	font-weight: bold;
	margin-left: 30px;
	margin-top: 16px;
	color: #81413F;
	background-repeat: repeat-y;
	background-color: #301B18;
	background-image: url(gfx/bgv.gif);
	background-position: 372px 12px;
	overflow:hidden;
	
}

.nav
{
	margin-left: 10px;
}			

td
{
	background-color: #241412;
	color: #81413F;
	font-size: 12px;
	text-align: justify;
	font-weight: bold;	
}

.event
{
	background-color: #000000;
	color: #BA925F;
	font-size: 10px;

}

.blank
{
	background-color: Transparent;
}

.pfield
{
	color: #000000;
	
}

.pdescr
{
	font-weight: normal;
}	

.item
{
	color: #BA925F;
	font-size: 12px;
}

.date
{
	color: #BA925F;
	font-weight: normal;
}

.dots
{
	color: #BA925F;
	font-weight: bold;
}
.pos
{
	color: #83737D;
}


a
{
	font-weight: normal;
	text-decoration: none;
	color: #83737D;
}



a:hover
{
	text-decoration: none;
	color: #91BA22;
	
}